<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--mudar usrwinfact para usrgitano-->
    <!--SQL Mínimo 2008 R2-->
    <add name="SRE_SqlServer0" connectionString="server=AIRAM-DELL\SQL2008R2;uid=usrgitano;database=gitano_castor;pwd=1500;" providerName="System.Data.SqlClient" />
    <add name="SRE_SqlServer1" connectionString="server=AIRAM-DELL\SQL2008R2;uid=usrgitano;database=gitano_dado;pwd=1500;" providerName="System.Data.SqlClient" />
    <add name="SRE_SqlServer2" connectionString="server=AIRAM-DELL\SQL2008R2;uid=usrgitano;database=gitano;pwd=1500;" providerName="System.Data.SqlClient" />
    <add name="SRE_SqlServer3" connectionString="server=AIRAM-DELL\SQL2008R2;uid=usrgitano;database=gitano_admin;pwd=1500;" providerName="System.Data.SqlClient" />
    <add name="SRE_SqlServer4" connectionString="server=AIRAM-DELL\SQL2008R2;uid=usrgitano;database=gitano_solidascp;pwd=1500;" providerName="System.Data.SqlClient" />
    <add name="SRE_SqlServer5" connectionString="server=AIRAM-DELL\SQL2008R2;uid=usrgitano;database=gitano_apema;pwd=1500;" providerName="System.Data.SqlClient" />
    <add name="SRE_SqlServer6" connectionString="server=AIRAM-DELL\SQL2008R2;uid=usrgitano;database=gitano_teste;pwd=1500;" providerName="System.Data.SqlClient" />
    <add name="SRE_SqlServer7" connectionString="server=AIRAM-DELL\SQL2008R2;uid=usrgitano;database=gitano_solida;pwd=1500;" providerName="System.Data.SqlClient" />
    <add name="SRE_SqlServer8" connectionString="server=AIRAM-DELL\SQL2008R2;uid=usrgitano;database=gitano_delly;pwd=1500;" providerName="System.Data.SqlClient" />
    <add name="SRE_SqlServer9" connectionString="server=AIRAM-DELL\SQL2008R2;uid=usrgitano;database=gitano_paulo;pwd=1500;" providerName="System.Data.SqlClient" />
    <add name="SRE_SqlServerCep" connectionString="server=AIRAM-DELL\SQL2008R2;uid=usrgitano;database=cep2007;pwd=1500;" providerName="System.Data.SqlClient" />
    <!--<add name="SRE_SqlServerCep" connectionString="server=AIRAM-LENOVO\SQL2008R2;uid=usrwinfact;database=cep2014;pwd=1500;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <!--RemoteOnly para todas as maquinas menos a local, Off para todas as maquinas-->
    <customErrors mode="RemoteOnly" defaultRedirect="~/erros/form/ErroGenerico.aspx">
      <error statusCode="500" redirect="~/erros/form/Suporte.aspx" />
      <error statusCode="404" redirect="~/erros/form/PaginaNaoEncontrada.aspx" />
      <error statusCode="403" redirect="~/erros/form/SemAcesso.aspx" />
    </customErrors>
    <sessionState mode="InProc" cookieless="false" timeout="1000" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add namespace="Microsoft.Web.UI" assembly="Microsoft.Web.Atlas" tagPrefix="atlas" />
        <add namespace="Microsoft.Web.UI.Controls" assembly="Microsoft.Web.Atlas" tagPrefix="atlas" />
      </controls>
    </pages>
    <compilation debug="true" optimizeCompilations="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.Data.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.XtraReports.v13.2.Web, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v13.2.Core, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Utils.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Charts.v13.2.Core, Version=13.2.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v13.2, Version=13.2.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a" />
        <!--
        <add assembly="DevExpress.PivotGrid.v13.2.Core, Version=13.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraPivotGrid.v13.2, Version=13.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        -->
        <add assembly="DevExpress.XtraEditors.v13.2, Version=13.2.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v13.2.Core, Version=13.2.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v13.2.Web, Version=13.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxThemes.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="MyAuth" timeout="1000" protection="All" loginUrl="~/Login.aspx" slidingExpiration="true" />
    </authentication>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add verb="*" path="ImagemCodigoBarra.ashx" validate="false" type="BoletoNet.ImagemCodigoBarraHandler" />
      <add verb="GET" path="ImagemCodigoBarra.ashx" validate="false" type="BoletoNet.ImagemCodigoBarraHandler, BoletoNet" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false" />
    <settings rightToLeft="false" doctypeMode="Xhtml" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <appSettings>
    <add key="SRE_ArquivoCss" value="Site1200x1900.css" />
    <add key="SRE_CaminhoGitanoSFin" value="\GITANO\Projetos\VS2010\Desenvolvimento\Gitano" />
    <add key="SRE_CaminhoGitanoSFinDesenvolvimento" value="\GITANO\Projetos\VS2010\Desenvolvimento\Gitano" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.51116.0" newVersion="4.1.51116.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
