#Main
{
background-image: url('fundomain.jpg');
background-repeat: no-repeat;
    height: 460px;
}

.h2
{
}

.p
{
}

.lbusuario
{
}

.edusuario 
{
}

.lbsenha
{
}

.edsenha
{
}

.lbmsg
{    text-align: left;
}